You must use the MVVM Design Pattern.
You must use the Observer Design Pattern.
You must use the State Design Pattern for the different states of a Model.Vinyl.
You must use Threads for the simulation and still be able to use the system at the same time (in the GUI)
You must create a UML State Machine Diagram for the Model.Vinyl states (preferably in Astah).
You must create a UML Class Diagram for the final solution (preferably in Astah).
