[done] You must use the MVVM Design Pattern.
[done] You must use the Observer Design Pattern.
[done] You must use the State Design Pattern for the different states of a Model.Vinyl.
[done] You must use Threads for the simulation and still be able to use the system at the same time (in the GUI)
[done] You must create a UML State Machine Diagram for the Model.Vinyl states (preferably in Astah).
[done] You must create a UML Class Diagram for the final solution (preferably in Astah).
[done] See a list of Vinyls with their information, including their states.
[done] Select one Vinyl and Reserve, Borrow or Return it.
[done] Remove a Vinyl (mark it to be removed until it is allowed to actually be removed).
[done] Optionally, you may include the information that a Vinyl is about to be removed.
[done] Optionally, you may create a window to add a new Vinyl.


